<ion-view>
  <ion-nav-title class="light">
    App Settings
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-outline button-light" ng-click="saveSettings()">
      Save
    </button>
  </ion-nav-buttons>
  <ion-content has-bouncing="false">

    <div class="list card">
      <li class="item item-input-inset item-select">
        <div class="input-label">
          VoIP Services
        </div>
        <select
          ng-init="selectedVoIPService"
          ng-options="item.type for item in voipServices"
          ng-model="selectedVoIPService"
          ng-change="onSelectVoIPChange(selectedVoIPService)">

        </select>
      </li>
    </div>

    <div class="list card">
      <li class="item item-input-inset item-select">
        <div class="input-label">
          SMS
        </div>
        <select
          ng-init="selectedSMS"
          ng-options="smsService.type for smsService in smsServices"
          ng-model="selectedSMS"
          ng-change="onSelectSMSChange(selectedSMS)">
        </select>
      </li>
    </div>
    <div class="list card">
      <li class="item item-input-inset item-select">
        <div class="input-label">
          Default Site
        </div>
        <select
          ng-init="selectedSite"
          ng-options="site.type for site in sites"
          ng-model="selectedSite"
          ng-change="onSelectSiteChange(selectedSite)">
        </select>
      </li>
    </div>
  </ion-content>
</ion-view>
