<div ng-click="toggleGroup(group)" >
  <button class="divider-left-icon button button-icon iconCustom" ng-class="group.isShown ? 'ion-ios-minus' : 'ion-ios-plus'">
  </button>
  <span class="group-title">{{group.name}}</span>
</div>

<button class="button button-icon icon ion-compose iconCustom iconCustomRight" ng-click="updateAllVisitorsStatuses()">
</button>

<button class="button button-icon icon ion-chatboxes iconCustom iconCustomRight" ng-click="bulkMessage(group)">
</button>

<button class="button button-icon icon ion-ios-telephone iconCustom iconCustomRight" ng-click="callHost(group)">
</button>



